<div class="tempComp-container">
    <ul>
        <li>
            <a target="_blank" href="https://confluence.federal.ddhive.com/display/ENG/Seed+Projects">Engineering Seed Projects</a>
        </li>
        <li>
            <a target="_blank" href="https://jira.federal.ddhive.com/secure/Dashboard.jspa">Deloitte Digital Federal Jira</a>
        </li>
        <li>
            <a target="_blank" href="https://confluence.federal.ddhive.com/dashboard.action">Deloitte Digital Federal Confluence</a>
        </li>
        <li>
            <a target="_blank" href="https://stash.federal.ddhive.com/projects">Deloitte Digital Federal Stash</a>
        </li>
        <li>
            <a target="_blank" href="https://angularjs.org/">Angular Guide</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/toddmotto/angular-styleguide">Angular 1.x styleguide (ES2015)</a>
        </li>
        <li>
            <a target="_blank" href="https://babeljs.io/learn-es2015/">ES2015 Guide</a>
        </li>
        <li>
            <a target="_blank" href="http://gulpjs.com/">Gulp Guide</a>
        </li>
        <li>
            <a target="_blank" href="http://sass-lang.com/">Sass Guide</a>
        </li>
        <li>
            <a target="_blank" href="https://webpack.github.io/docs/">WebPack Guide</a>
        </li>
        <li>
            <a target="_blank" href="https://karma-runner.github.io/1.0/index.html">Karma Guide</a>
        </li>
        <li>
            <a target="_blank" href="http://eslint.org/">ESLint Guide</a>
        </li>
        <li>
            <a target="_blank" href="https://www.browsersync.io/">Browsersync Guide</a>
        </li>
        <li>
            <a target="_blank" href="https://babeljs.io/">Babel Guide</a>
        </li>
    </ul>
    <div class="component tempComp">
      <h2 ng-click="$ctrl.alertSomething()">{{$ctrl.text}}</h2>
    </div>
</div>
