.header {
  display: flex;
  align-items: center;
  background-color: $black;

  &-links {
    flex: 1;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;

    &-link {
      display: inline-block;
      color: $white;
      margin-left: 20px;

      &:hover {
        text-decoration: underline;
      }

      &.activeState {
        text-decoration: underline;
      }
    }
  }

  &-date {
    flex: 1;
    text-align: right;
    margin: 1rem;
    white: $white;
  }
}
