.header {
  display: flex;
  align-items: center;
  background-color: $black;

  &-title {
    flex: 1;
    font-size: 1.5rem;
    margin: 1rem;
    color: $white;
    cursor: pointer;
  }

  &-date {
    flex: 1;
    text-align: right;
    margin: 1rem;
    white: $white;
  }
}
