/** Global styles and helpers **/
@import './styles/_vars.scss';
@import './styles/_mixins.scss';
/** End Helpers **/

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
}


/** Import components here! **/
@import './app/components/main.scss';
@import './app/components/common/header/header.scss';
@import './app/components/common/footer/footer.scss';
@import './app/components/common/usageLinks/usageLinks.scss';
@import './app/components/techs/techs.scss';
@import './app/components/techs/tech/tech.scss';
/** End components **/
